mixin side-menu()
	.side-menu
		input(type="checkbox" id="nav-toggle" hidden)
		nav
			label(for="nav-toggle" class="nav-toggle" onclick)
			div.wrapper
				ul
					li: a(href="#dashboard")
						i(class="fa fa-tachometer fa-lg" aria-hidden="true") 
						span Dashboard
					li: a(href="#calendar")
						i(class="fa fa-calendar fa-lg" aria-hidden="true")
						span Calendar
					li: a(href="#your_profile")
						i(class="fa fa-user fa-lg" aria-hidden="true")
						span Your Profile
					li: a(href="#addresses")
						i(class="fa fa-address-card-o fa-lg" aria-hidden="true")
						span Addresses
					li: a(href="#your_git")
						i(class="fa fa-git fa-lg" aria-hidden="true")
						span Your git
					li: a(href="#education")
						i(class="fa fa-graduation-cap fa-lg" aria-hidden="true")
						span Education
					li: a(href="#tasks")
						i(class="fa fa-tasks fa-lg" aria-hidden="true")
						span Tasks
