@charset  "UTF-8";

header
	height 70px
	width 100%
	.wrapper
		float right
		margin-right 35px
		margin-top 25px
		padding-left 10px
		i:first-of-type
			color #aaa
			padding 0 20px
		i:last-of-type
			color #428DCA
			padding-right 30px
		span
			color #C2C9D1
			padding-left 10px
			padding-right 12px	
		img
			border-radius 50%
			height 42px
			vertical-align middle
			width 42px