header
	height 70px
	width 100%
	.wrap
		float right
		margin-right 35px
		margin-top 25px
		padding-left 10px

		i:first-of-type
			padding 0 20px
			color #aaa

		i:last-of-type
			padding-right 30px
			color #428DCA

		span
			padding-left 10px
			padding-right 12px	
			color #C2C9D1

		img
			border-radius 50%
			width 42px
			height 42px
			vertical-align middle
