mixin header()
	header
		div.wrap
			i(class="fa fa-search", color="#aaa", aria-hidden="true")
			span ADMIN
			i(class="fa fa-angle-down", aria-hidden="true")
			img(src="images/first.jpg", alt="", class="round")