.wrape
	column-count 3

.title
	font-family 'Lato', sans-serif
	padding 24px

#first
	width 240px
	height 130px
	background #58b5fc

#second
	width 240px
	height 130px
	background #61d861

#third
	width 240px
	height 130px
	background #7965f1

#forth
	width 240px
	height 130px
	background #ff625b

.wra
	display flex
	flex-direction row
	justify-content center

#first
#second
#third
#forth
	margin 12px

