@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300');

.wrape
	column-count 3

.title
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	padding 24px
	font-size 40px
	color #fff
	position relative
	top 24px
	left 24px

#first
	background #58b5fc
	height 130px
	width 240px


#first:hover
	transform scale(1.1)
	transition transform 0.2s ease-in-out 0.5s;

#second
	width 240px
	height 130px
	background #61d861

#third
	width 240px
	height 130px
	background #7965f1

#forth
	background #ff625b
	height 130px
	width 240px

#fifth
	width 506px
	height 360px
	background #00152c

#sixth
	width 506px
	height 360px
	background #00152c

#seven
	width 506px
	height 360px
	background #00152c

#eigth
	width 506px
	height 360px
	background #00152c

.wra1
	display flex
	flex-direction row
	justify-content center

.wra2
	display flex
	flex-direction row
	justify-content center

.wra3
	display flex
	flex-direction row
	justify-content center


#first
#second
#third
#forth
	margin 12px

#fifth
#sixth,
#seven,
#eigth
	margin 12px
	color #fff

#sp
	float right
	padding 24px
	font-size 42px
	font-family 'Lato', sans-serif
	color #fff
	font-weight lighter

#first i
#second i
#third i
#forth i
	padding 24px
	color #fff


#first label
#second label
#third label
#forth label
	font-size 15px
	font-family 'Lato', sans-serif
	color #fff

.label
	float right
	margin-right 24px

#myChart
#myChart2
	margin-top 40px

.filter
	float right
	margin 24px
	font-family: 'Lato', sans-serif
	i
		color #428DCA

#total_sales
	margin 24px
	display inline-block
	font-size 12px
	font-family 'Lato', sans-serif

#month
	padding-right 20px
	color #979797
	font-size 12px

