
.title
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	padding 24px
	font-size 40px
	color #fff

.block
	margin 12px
	width 240px
	height 130px

.block:hover
	transform scale(1.1)
	transition transform 0.2s ease-in-out 0.5s;

.order
	background #58b5fc

.completed-order
	background #61d861

.pending-order
	background #7965f1

.canseled-order
	background #ff625b

.statistic-blocks
	display flex
	flex-direction row
	justify-content center

.line-charts
	display flex
	flex-direction row
	justify-content center

.other-charts
	display flex
	flex-direction row
	justify-content center

.chart-block
	margin 12px
	color #fff
	width 506px
	height 360px
	background #00152c

#count
	float right
	padding 24px
	font-size 42px
	color #fff
	font-weight lighter

.block i
	padding 24px
	color #fff

 .block label
	font-size 15px
	font-family 'Lato', sans-serif
	color #fff

.label
	float right
	margin-right 24px

#totalSales,
#newUsers,
#couponUsage
	margin-top 40px

.sort
	float right
	margin 24px
	font-family: 'Lato', sans-serif
	i
		color #428DCA

#total_sales
	margin 24px
	display inline-block
	font-size 12px
	font-family 'Lato', sans-serif

#month
	padding-right 20px
	color #979797
	font-size 12px

