mixin content()
	.content
		span.title DASHBOARD
		div.wra1
			div#first
				i(class="fa fa-archive fa-2x" aria-hidden="true")
				span#sp 220
				div.label
					label TOTAL ORDER
			div#second
				i(class="fa fa-check-circle-o fa-2x" aria-hidden="true")
				span#sp 180
				div.label
					label TOTAL COMPLETED ORDER
			div#third
				i(class="fa fa-pencil-square-o fa-2x" aria-hidden="true")
				span#sp 20
				div.label
					label TOTAL PENDING ORDER
			div#forth
				i(class="fa fa-line-chart fa-2x" aria-hidden="true")
				span#sp 20
				div.label
					label TOTAL CANSELED ORDER
		div.wra2
			div#fifth
			//- div#sixth
		div.wra3
			div#seven
			div#eigth
		
		canvas#myChart
