mixin content()
	.content
		div.title DASHBOARD
		div.wra1
			div#first
				i(class="fa fa-archive fa-2x" aria-hidden="true")
				span#sp 220
				div.label
					label TOTAL ORDER
			div#second
				i(class="fa fa-check-circle-o fa-2x" aria-hidden="true")
				span#sp 180
				div.label
					label TOTAL COMPLETED ORDER
			div#third
				i(class="fa fa-pencil-square-o fa-2x" aria-hidden="true")
				span#sp 20
				div.label
					label TOTAL PENDING ORDER
			div#forth
				i(class="fa fa-line-chart fa-2x" aria-hidden="true")
				span#sp 20
				div.label
					label TOTAL CANSELED ORDER
		div.wra2
			div(id="fifth" style="position: relative;" )
				span#total_sales TOTAL SALES
				div.filter
					span#month This month
					i(class="fa fa-angle-down fa-lg", aria-hidden="true")
				canvas#myChart
			div(id="sixth" style="position: relative" )
				span#total_sales NEW USERS
				div.filter
					span#month This month
					i(class="fa fa-angle-down fa-lg", aria-hidden="true")
				canvas#myChart2
		div.wra3
			div#seven
				span#total_sales ORDER BREAKDOWN
				div.filter
					span#month This month
					i(class="fa fa-angle-down fa-lg", aria-hidden="true")
				canvas#myChart3
			div#eigth
				span#total_sales COUPON USAGE
				div.filter
					span#month This month
					i(class="fa fa-angle-down fa-lg", aria-hidden="true")
			
