<!DOCTYPE html>
html
    head
        meta(http-equiv='content-type' content='text/html' charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="assets/css/main.css")
        link(rel="stylesheet" href="assets/fonts/css/font-awesome.min.css")
        link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed' rel='stylesheet')
        script(type="text/javascript" src="assets/js/Chart.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js")

        block title
            title Dashboard
    
    body
        block pagecontent
            div content
            
        script(type="text/javascript" src="assets/js/jquery.min.js")
        script(type="text/javascript" src="assets/js/libs.min.js")