<!DOCTYPE html>
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="fonts/css/font-awesome.min.css")
        

        block title
            title Dashboard
    
    body
        block pagecontent
            div content
            
        script(type="text/javascript" src="lib.min.js")
        script(type="text/javascript" src="libs/jquery.min.js")
            
